data/xsd/3- XSD_v3.1/0 - Annuaire/actualisation/Annuaire_Actualisation_F12-F13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:include schemaLocation="../common/Annuaire_Commun.xsd"/>
	
	
	<xs:complexType name="AnnuaireActualisationType">
		<xs:sequence>
			<xs:element name="BlocCodesRoutage" type="CodesRoutageActualisationType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BlocLignesAnnuaire" type="LignesAnnuaireActualisationType" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>

	<xs:element name="AnnuaireActualisation" type="AnnuaireActualisationType"/>
</xs:schema>